* { margin: 0; padding: 0;}

body, html { height:100%; }

#game {
    position:absolute;
    width:100%;
    height:100%;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
